p{
    display: block;
    width: 400px;
    height: 400px;
}

h1{
    border-bottom: 1px solid black;
    color: #ac341e;
    text-align: center;
}

div{
    font-weight: bold;
    font-size: 2rem
}

.row{
    margin-bottom: 10%;
}