<br><br>
<h1>DashBoard</h1>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-12 alert alert-dark text-center">Users</div>
        <p class="col-12">
            <canvas id="usersChart" ></canvas>
        </p>
    </div>
    <div class="row">
        <div class="col-12 alert alert-dark text-center">Posts</div>
        <p  class="col-12">
            <canvas id="postsChart" ></canvas>
        </p>
    </div>
    <div class="row">
        <div class="col-12 alert alert-dark text-center">Talents</div>
        <p  class="col-12">
            <canvas id="talentsChart" ></canvas>
        </p>
    </div>    
</div>
