<!-- <div class="sticky-top">
<br><br> <br> <br>
<div class="list-group">
    <a [routerLink]="['/dashboard']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline ">Dashboard</span>&nbsp;
                <i class="fas fa-chart-line"></i>
    </a>
    <a [routerLink]="['/reports']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Reports</span>&nbsp;
                <i class="fas fa-flag" ></i>
    </a>
    <a [routerLink]="['/talents']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Talents</span>&nbsp;
                <i class="fas fa-microphone"></i>
    </a>
    <a [routerLink]="['/block']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Block</span>&nbsp;
                <i class="fas fa-ban"></i>
    </a>
</div>
</div> -->

<div class="sidenav mt-5">
    <br>
    <a [routerLink]="['/dashboard']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline ">Dashboard</span>&nbsp;
                <i class="fas fa-chart-line"></i>
    </a>
    <a [routerLink]="['/reports']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Reports</span>&nbsp;
                <i class="fas fa-flag" ></i>
    </a>
    <a [routerLink]="['/talents']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Talents</span>&nbsp;
                <i class="fas fa-microphone"></i>
    </a>
    <a [routerLink]="['/block']" routerLinkActive="active"
                class="list-group-item list-group-item-action">
                <span class="d-none d-md-inline">Block</span>&nbsp;
                <i class="fas fa-ban"></i>
    </a>
  </div>