<br><br>
<h1>Talents</h1>
<br><br>
<div class="row justify-content-center">
    <table class="col-6 table table-striped table-dark table-bordered">
      <thead>
            <tr>
                  <th scope="col">#</th>
                  <th scope="col">Talent</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>
          </tr>
      </thead>
  <tbody>
    <tr *ngFor="let item of talents; let i = index">
        <td scope="row">{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>
          <button type="button" class="col btn btn-primary btn-block"
           (click)="updateTalent(item.ID,item.name)">Update</button>
        </td>
        <td>
          <button type="button" class="col btn btn-danger btn-block"
           (click)="deleteTalent(item.ID,item.name)">Delete</button>
        </td>
     </tr>
      </tbody>
  </table>
</div>
<br><br>
<form>
<div class="row justify-content-center ">
    <div class="col-6 form-group">
      <label for="tName">New Talent Name:</label>
      <input type="text" class="form-control" name="talentName" id="tName" [(ngModel)]="newTalentName">
    </div>
</div>
<div class="row justify-content-center ">
    <button type="button" class="col-3 btn btn-success btn-lg btn-block" (click)="addTalent()">Add</button>
</div>
</form>
